
.success {
    color: blue;
    font-size: large;
    font-weight: bold;
    font-style: italic;
    font-family: "Times New Roman", Times, serif;
    font-weight: bolder;
    background-color: orange;

}

.error {

    color: red;
    font-size: large;
    font-weight: bold;
    font-style: italic;
    font-family: "Times New Roman", Times, serif;
    font-weight: bolder;
    background-color: blue;
    
}