{% load static %}
<!--start-->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

	<!-- title -->
	<title>Store</title>

	<!-- favicon -->
	<link rel="shortcut icon" type="image/png" href="{% static 'assets/img/favicon.svg' %}">
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
	<!-- fontawesome -->
	<link rel="stylesheet" href="{% static 'assets/css/all.min.css' %}">
	<!-- bootstrap -->
	<link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
   
	<!-- owl carousel -->
	<link rel="stylesheet" href="{% static 'assets/css/owl.carousel.css' %}">
	<!-- magnific popup -->
	<link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}">
	<!-- animate css -->
	<link rel="stylesheet" href="{% static 'assets/css/animate.css' %}">
	<!-- mean menu css -->
	<link rel="stylesheet" href="{% static 'assets/css/meanmenu.min.css' %}">
	<!-- main style -->
	<link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
	<!-- responsive -->
	<link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">
	<!-- add to cart messange styles -->
	 <!-- whatapp static ones-->
	  <link rel="stylesheet" href="{% static 'whatapp.css' %}">
	  <link rel="stylesheet" href="{% static 'home/main.css' %}">

	{% block head %}
	{% endblock %}
</head>
<body>
	
	
	<!--PreLoader-->
    <div class="loader">
        <div class="loader-inner">
            <div class="circle"></div>
        </div>
    </div>
    <!--PreLoader Ends-->
	
	<!-- header -->
	<div class="top-header-area" id="sticker">
	{% if messages %}
		<ul class="messages">
			{% for message in messages %}
				<li {{ message }}</li>
			{% endfor %}
		</ul>
	{% endif %}
	<div class="div-add-to-cart">
		<!--my add to cart pop up messange go her -->
	</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12 text-center">
					<div class="main-menu-wrap">
						<!-- logo -->
						<div class="site-logo">
							<a href="{% url 'home' %}">
								<img src="{% static 'assets/img/logo.svg' %}"  style="width: 50px;" alt="">
							</a>
						</div>
						<!-- logo -->

						<!-- menu start -->
						<nav class="main-menu">
							<ul>
								<li class="current-list-item"><a href="{% url 'home' %}">Home</a>
							
								</li>
							
							
								<li>
									<div class="header-icons">
										<a class="shopping-cart" href="{% url 'cart' %}"><i class="fas fa-shopping-cart"></i></a>
										<a class="mobile-hide search-bar-icon" href="#"><i class="fas fa-search"></i></a>
									</div>
								</li>
								{% if request.user.is_authenticated %}
								
								<li> <a href="{% url 'logout' %}">logout </a></li>
									{% else %}
									<li> <a href="{% url 'login' %}">login </a> </li>
								<li><a href="{% url 'register' %}">register </a></li>
									{% endif %}
							</ul>
						</nav>
						<a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
						<div class="mobile-menu"></div>
						<!-- menu end -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end header -->
	 	<!-- search area -->
		 	<!-- search area -->
	<div class="search-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<span class="close-btn"><i class="fas fa-window-close"></i></span>
					<div class="search-bar">
						<div class="search-bar-tablecell">
							<h3>Search For:</h3>
							<form action="{% url 'search' %}" method="get">
								<input type="text" placeholder="Keywords" name="q">
								<button type="submit">Search <i class="fas fa-search"></i></button>

							</form>
							
						
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end search area -->
	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
					
					</div>
				</div>
			</div>
		</div>
	</div> 
	<!-- end breadcrumb section -->


<div>

    {% block body %}
    
    {% endblock %}
    </div>
<!--down-->
	<!-- logo carousel -->
	<div class="logo-carousel-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="logo-carousel-inner">
						<div class="single-logo-item">
							<img src="{% static 'assets/img/logo1.svg' %}" alt="">
						</div>
						<div class="single-logo-item">
							<img src="{% static 'assets/img/logo2.svg' %}" alt="">
						</div>
						<div class="single-logo-item">
							<img src="{% static 'assets/img/logo3.svg' %}" alt="">
						</div>
						<div class="single-logo-item">
							<img src="{% static 'assets/img/logo4.svg' %}" alt="">
						</div>
						<div class="single-logo-item">
							<img src="{% static 'assets/img/logo5.svg' %}" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end logo carousel -->


<!-- footer -->
<div class="footer-area">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-6">
				<div class="footer-box about-widget">
					<h2 class="widget-title">About us</h2>
					<p>We sell shoes and other related goods around kenya .</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="footer-box get-in-touch">
					<h2 class="widget-title">Get in Touch</h2>
					<ul>
						<li>24/7 support for anything </li>
						<li>lewiskinyuanjue.ke@gmail.com</li>
						<li>+254 740771735</li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="footer-box pages">
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="footer-box subscribe">
					<h2 class="widget-title">Subscribe</h2>
					<p>Subscribe to our mailing list to get the latest updates.</p>
					<form action="{% url 'subscribe' %}" method="post" id="subscribe-email">
						{% csrf_token %}
						<input type="email" placeholder="Email" name="email">
						<button type="submit"><i class="fas fa-paper-plane"></i></button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end footer -->

<!-- copyright -->
<div class="copyright">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-12">
				<p>Copyrights &copy; 2019 - <a href="">lewis njue</a>,  All Rights Reserved.</p>
			</div>
			<div class="col-lg-6 text-right col-md-12">
				<div class="social-icons">
					<ul>
						<li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
						<li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
						<li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
						<li><a href="https://www.linkedin.com/in/lewis-njue-03563b2b3/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
						<li><a href="#" target="_blank"><i class="fab fa-dribbble"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end copyright -->

<!-- jquery -->
<script src="{% static 'assets/js/jquery-1.11.3.min.js' %}"></script>
<!-- bootstrap -->
<script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
<!-- count down -->
<script src="{% static 'assets/js/jquery.countdown.js' %}"></script>
<!-- isotope -->
<script src="{% static 'assets/js/jquery.isotope-3.0.6.min.js' %}"></script>
<!-- waypoints -->
<script src="{% static  'assets/js/waypoints.js' %}"></script>
<!-- owl carousel -->
<script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
<!-- magnific popup -->
<script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
<!-- mean menu -->
<script src="{% static 'assets/js/jquery.meanmenu.min.js' %}"></script>
<!-- sticker js -->
<script src="{% static 'assets/js/sticker.js' %}"></script>
<!-- main js -->
<script src="{% static 'assets/js/main.js' %}"></script>
<script src="{% static 'ajax.js' %}"></script>
<script src="{% static 'whatapp.js' %}"></script>
</body>
</html>

<!--endhere-->
