{% extends "base.html" %}
{% load static %}

{% block head %}
{% endblock %}

{% block body %}
<div class="row">
	{% for product in products %}
	<div class="col-lg-4 col-md-6 text-center">
		<div class="single-product-item">
			<div class="product-image">
				<a href="{% url 'single' product.id %}">
					<img style="height: 270px; width: auto;" src="{{ product.image.url }}" alt="">
				</a>
			</div>
			<h3>{{ product.name }}</h3>
			<p class="product-price"><span>Per Kg</span> {{ product.price }}$</p>
			<form class="add-to-cart-form" method="post" action="{% url 'addtocart' %}">
				{% csrf_token %}
				<input type="hidden" name="number" value="1">
				<input type="hidden" name="id" value="{{product.id}}">
				<button class="cart-btn btn-lg js-addtocart-button" type="submit">add to cart</button>
			</form>
		</div>
	</div>
	{% endfor %}
</div>

<div class="pagination" style="text-align: center; font-size: larger; margin: auto; justify-content: space-around;">
	<span class="step-links">
		{% if products.has_previous %}
		<a href="?page=1">&laquo; first</a>
		<a href="?page={{ products.previous_page_number }}">previous</a>
		{% endif %}

		<span class="current">
			Page {{ products.number }} of {{ products.paginator.num_pages }}.
		</span>

		{% if products.has_next %}
		<a href="?page={{ products.next_page_number }}">next</a>
		<a href="?page={{ products.paginator.num_pages }}">last &raquo;</a>
		{% endif %}
	</span>
</div>
{% endblock %}
