{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'login.css' %}">
    </head>
    <body>
<div class="login-page">
  <div class="form">
 
      <form class="login-form" method="post" action="">
      {% csrf_token %}
          {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
      <input type="text" placeholder="name" name="username" />
      <input type="password" placeholder="password" name="password" />
 
      <button> login </button>
      <p class="message">have account? <a href="{% url 'register' %}">register here</a></p>
    </form>
 
  </div>
</div>
    </body>
</html>










